* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home {

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
}


.detail {
  
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
 
}



.users {
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
